@charset "utf-8";
/* CSS Document */
body.page-template-page-english-php {background:url(images/eng-body-bg.png) repeat-x left top #FFFBEB;}
#header #site-title {font-size:18px; color:#505659; float:left; margin-top:10px; font-weight:normal;}
#header #site-title a {font-weight:normal; color:#505659;}
#header .header-details {font-size:18px; color:#70adcc; float:right; margin-top:-10px;}
#header .header-details a.heb {font-size:11px; text-decoration:none; background:url(images/sprite.png) no-repeat right -449px; display:block; padding:0 20px 0 0 ; margin:0 0 6px 0;}

#content {float:right;}
#content .entry-title { padding-left:0; padding-right:105px;}
#primary {float:left;}
#primary h3 {font-weight:bold;}
#primary h3 .all, #primary h3 .all {float:right; font-weight:normal;}
#primary .book {text-align:center; background:#fff;  border-bottom: 1px solid #70adcc;}
#primary .book h3 {text-align:left; background:#FFFBEB;}
#primary .book img {float:none;}
#primary .book .book-content {display:none;}
#primary .inner-form .wpcf7 label {text-align:left;}
#primary .inner-form .wpcf7 p {float:left;}
#primary .inner-form form input[type="submit"] {float:right; margin-right:7px;}
#main {padding-top:1px;}
.featured {height:165px; margin-bottom:28px;}

#content .fontResizer {left:auto; right:0;}

#content .inner-form h5 { float:left; margin:0 0 0 10px;}

.inner-form .wpcf7 {
    border-left: 1px dotted #a6300f;
	border-right:none;
    float: right;
    margin: 0 35px 0 0;
    padding: 0 0 0 10px;
}

#content .inner-form form p {float: left;}
.inner-form form label {
    display: block;
    float: left;
    margin: 0 6px 0 0px;
    text-align: left;
  
}
.inner-form form p.area label { text-align:left;}
.inner-form form input[type="submit"] { float:right;}

#content .inner-form form p.area { float:right; margin-left:20px; margin-right:0;}
.testimonial {padding:15px 35px; width:582px;}
#footer {overflow:hidden; height:77px;}
#footer .footer-menu, #footer .credit {display:none;}

#colophon ul.features li { float:left; margin:0 10px 0 0 ;}

#colophon ul.features li img {float: left;}
#colophon ul.features li h4 { text-align:left; float:left; margin:9px 0 0 10px;}

#content .entry-title .fontResizer {list-style:none; float:right; margin:5px 0px 0 20px;}

@media screen and (max-width: 768px) {
	body.page-template-page-english-php {background-image:none;}
	.page-template-page-english-php .featured {display:none;}
	.testimonial {padding:15px 20px; max-width:95%;}
	
}