/*
Theme Name: Twenty Ten
Version: 1.6.1
*/


/*
RTL Basics
*/


body {
	direction:rtl;
	unicode-bidi:embed;
}


/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: right;
	margin: 0;
}
#content {
	margin: 0 ;
}
#primary,
#secondary {
	float: right;
}
#secondary {
	clear: left;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url,
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
input[type="submit"] {
	font-family: 'Alef', Arial, Tahoma, sans-serif;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#footer-widget-area .widget-area {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
#footer-widget-area #fourth {
	margin-left: 0;
}
#site-info {
	float: right;
}
#site-generator {
	float: left;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Text elements */
ul, ol {
	margin: 0 1.5em 18px 0;
}
blockquote {
	font-style: normal;
}

/* Text meant only for screen readers */
.screen-reader-text {
	left: auto;
	text-indent:-9000px;
	overflow:hidden;
}


/* =Header
-------------------------------------------------------------- */

#site-title {
	float: right;
	margin-right:21px;
}
#site-description {
	clear: left;
	float: left;
	font-style: normal;
}
#branding img {
	float: right;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	float:right;
	height: 39px;
}

#access .menu-header,
div.menu {
	margin-right: 0px;
	margin-left: 0;
}

#access .menu-header li,
div.menu li{
	float:right;
}

#access ul ul {
	left:auto;
	right:0;
	float:right;
}
#access ul ul ul {
	left:auto;
	right:100%;
}

/* =Content
-------------------------------------------------------------- */

#content table {
	text-align: right;
	margin: 0 0 24px -1px;
	
}
.page-title span {
	font-style:normal;
}
.entry-title,
.entry-meta {
	/*clear: right;
	float: right;*/
	margin-left: 0px;
	margin-right: 0;
}

.entry-content input.file,
.entry-content input.button {
	margin-left: 24px;
	margin-right:0;
}
.entry-content blockquote.left {
	float: right;
	margin-right: 0;
	margin-left: 24px;
	text-align: left;
}
.entry-content blockquote.right {
	float: left;
	margin-right: 24px;
	margin-left: 0;
	text-align: right;
}
#entry-author-info #author-avatar {
	float: right;
	margin: 0 0 0 -104px;
}
#entry-author-info #author-description {
	float: right;
	margin: 0 104px 0 0;
}

/* Gallery listing
-------------------------------------------------------------- */

.category-gallery .gallery-thumb {
	float: right;
	margin-left:20px;
	margin-right:0;
}


/* Images
-------------------------------------------------------------- */

#content .gallery .gallery-caption {
	margin-right: 0;
}

#content .gallery .gallery-item {
	float: right;
}

/* =Navigation
-------------------------------------------------------------- */
.nav-previous {
	float: right;
}
.nav-next {
	float: left;
	text-align:left;
}

/* =Comments
-------------------------------------------------------------- */

.commentlist li.comment {
	padding: 0 56px 0 0;
}
.commentlist .avatar {
	right: 0;
	left: auto;
}
.comment-author .says, #comments .pingback .url  {
	font-style: normal;
}

/* Comments form */
.children #respond {
	margin: 0 0 0 48px;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	margin-right: 0;
}
.widget-area ul ul {
	margin-right: 1.3em;
	margin-left: 0;
}
#wp-calendar caption {
	text-align: right;
}
#wp-calendar tfoot #next {
	text-align: left;
}

/* Main sidebars */
#main .widget-area ul {
	margin-right: 0;
	padding: 0 0 0 0px;
}
#main .widget-area ul ul {
	margin-right: 1.3em;
	margin-left: 0;
}

/* =Footer
-------------------------------------------------------------- */
#site-generator {
	font-style:normal;
}
#site-generator a {
	background-position: right center;
	padding-right: 20px;
	padding-left: 0;
}

.header-phone {display:none;}
.mobile-child-menu, .sub-menu-open {display:none;}
#contact-box, .login-window {   display: none;}
/*Responsive*/

@media screen and (max-width: 979px) {
	#access .menu a {padding:0 10px;}
	#tabs-adv.ui-tabs .ui-tabs-nav li {width:300px;}
	#hp-content .hp-sidebar {width:310px;}
	#colophon ul.logos li {margin:0 20px 0 0;}
	#footer .contact-info {margin:0 18px 0 0 ;}
	#content {max-width:620px; width:58%;}
	#content .fontResizer {display:none;}
	#content.landing .entry-content {width:98%;}
		#content.landing .video_case, #content.landing .video_wrapper {max-width:100%; width:68%; }
		iframe {max-width:100%;}
		#content iframe {padding:0;}
		#content.landing .more-content {width:68%;}
			#content.landing .video_wrapper li {width:30%; margin:5px;}
			/*footer*/
	#colophon .strip {display:none;}
	#footer {background:#4A90C1;}
	#colophon {background:none; padding-bottom: 80px;}
	#colophon, #footer {height:auto; overflow:auto;}
	.footer-menu .section {height:auto; margin-bottom:10px; padding:0 10px 0 0;}
	#footer .contact-info {background:none; margin:0 10px 0 0; float:right; padding:0;}
	#footer .rights, #footer .design {float:none;}
	.footer-menu .section {width:20%;}
	.diseases .item {height:135px; width:45%;}
	
	#content .box-navigation .boxes .item {width:23%;} /* Shortcode box navigation */
	
	
	
	
	/* 
Mobile popup modal
---------------------------------------------------------*/

/*LOG IN POP UP*/
/* Mask for background, by default does not display */

.login-window {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0;
   
    color: #fff;
    border-radius: 0px;
    position: absolute;
    position: fixed;
    z-index: 8000;
    right: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    font-family: 'alef', Arial, Tahoma, sans-serif;
    font-size: 16px;
    background:url(images/mobile-button-strip.png) repeat-x;
    border-top: 2px solid #ddd0b2;
	
}
.login-window a:link,
.login-window a:visited{color:#a6300f; text-decoration:none; background:url(images/mobile-mail-icon.png) no-repeat right center; padding:21px 57px 26px 8px; display:inline-block;}

.login-window a.phone-btn:link,
.login-window a.phone-btn:visited {background-image:url(images/mobile-phone-icon.png);}

.login-window a.external-link:link,
.login-window a.external-link:visited{background: #a6300f; width: 100%; color: white; text-align: start; padding: 20px; box-sizing: border-box;}
.login-window a.external-link .form-btn {border-radius: 30px; border: none; padding: 5px 10px; color: #22a5f1; font-weight: bold;}

/*a.login-window:hover {background-color: #554a73;}*/
#contact-box {position:fixed; bottom:0; left:0; right:0; width:100%;}

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup {
    display: none;
    background-color: #aa9a73;
    padding: 0px;
   width:100%;
   margin:0 auto;
   
    font-size: 1.2em;
    position: fixed;
    left:0;
	bottom:0;
    z-index: 99999;
   
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

.login-popup form input::-webkit-input-placeholder,
.login-popup form textarea::-webkit-input-placeholder {
    color: #aa9a73;
   	font-size:18px;
}


.login-popup form input:-moz-placeholder,
.login-popup form textarea:-moz-placeholder {
    color: #aa9a73;
    font-size:18px;
}

.login-popup form input::-moz-placeholder,
.login-popup form textarea::-moz-placeholder {
    color: #aa9a73;
    font-size:18px;
}




a.close {
	display:block;
	color:#fff;
	text-decoration:none;
	position:absolute;
	right:0;
	top:0;
	background-color:#333;
	font-weight:bold;
	font-size:22px;
	width:20px;
	height:20px;
	padding:6px;
	text-align:center;
}
.login-popup .wpcf7 {
	max-width:700px;
	margin:7px auto;
	color:#fff;
	text-align:center;
	width:80%;
	
}
.login-popup .wpcf7 a:link,
.login-popup .wpcf7 a:visited {color:#fff; text-decoration:underline;}
.login-popup .wpcf7 a:hover,
.login-popup .wpcf7 a:active {color:#fff;}
.login-popup .wpcf7 .modal-title {color:#fff; display:inline-block; margin:15px 0; font-size:30px;font-family: 'alef', Arial, Tahoma, sans-serif; padding:0 10px; line-height:28px;}

.login-popup .wpcf7 input[type="text"], .login-popup .wpcf7 input[type="tel"], .login-popup .wpcf7 input[type="email"], .login-popup .wpcf7 input[type="url"], .login-popup .wpcf7 input[type="number"], .login-popup .wpcf7 textarea {
	border-radius:6px;
	padding:6px 10px;
	width:78%;
	font-size:18px;
	border:none;
	
}
.login-popup .wpcf7 textarea {height:70px; font-size:16px;}
.login-popup .wpcf7 input[type="submit"]{
	padding:10px; color:#fff; background-color:#a6300f; text-align:center; font-size:18px; 
	font-family: 'alef', Arial, Tahoma, sans-serif; border:none; border-radius:6px; margin:0 auto; width:84%; -webkit-appearance: none;
}
.login-popup .wpcf7 input[type="submit"]:hover{background-color:#dd4317;}
.login-popup .wpcf7 img.ajax-loader {display:block; margin-top:4px;}
.use-floating-validation-tip span.wpcf7-not-valid-tip {
	font-size:12px;
	right:26% !important;
	top:3% !important;
	opacity:0.8;
	border-radius:4px;
}
	
	
	
	
	
}

@media screen and (max-width: 820px) {
	#content.landing .entry-content {width:98%;}	

	#content.landing .video_case, #content.landing .video_wrapper {float:none; width:100%;}
	#content iframe {padding:0; width:100%;}
	.diseases {max-width:none;}
	.diseases .item, .diseases .item:nth-child(2n) {float:none; width:100%;}

}

@media screen and (max-width: 820px) {
	
	body.home, body {background:#fffbeb;}
.home #header, #header {padding:0; text-align:center; background:none; height: auto;}
	#site-title {float:none; margin-right:0; margin:0 auto;}
	#branding img {float:none; text-align:center; display:inline-block;}
	.hp-header-details, .header-details {display:none;}
	.header-phone {display:block; border-top: 1px solid #70adcc;
    border-bottom: 1px solid #70adcc; margin: 10px 0; text-align: left; padding: 10px 5px;}
    .header-phone a:link,
    .header-phone a:visited,
    .header-phone a:hover,
    .header-phone a:active{text-decoration: none; color:#70adcc; font-size: 18px;}
    
    #responsive-menu-pro-container #responsive-menu-pro-wrapper {padding-top:15px; padding-bottom: 40px;}
    .responsive-menu-pro-subarrow {font-size: 25px;}
	#access {width:100%;}
	#access .menu-header {border-top:1px solid #aad4f2; border-bottom:1px solid #aad4f2; overflow:auto; margin-bottom:0px;}
	#access .menu-header li {height:auto; line-height:1;}
	#access .menu-header li a { font-size:14px; border-left:1px solid #999; border-right:none; margin:0 0 2px 0; line-height:12px; padding:0 4px 3px 4px;}
	#access .menu-header li:last-child a {border:none;}
	.megamenu {display:none !important;}
	#access ul ul.sub-menu {display:none !important;}
	#access li.launcher::after {display:none;}
#access li.launcher.selected {  box-shadow:none; height:auto;border-left-color:#999; border-right:none;  background:none; }
#access li.selected + li a {border-left:1px solid #999;}
#content.landing #primary {float:none; width:100%; display:none;}
#content.landing .content-footer .side-img.landing {display:block;}
#content.landing .side-img.landing h5 {font-weight:bold; color: #a6300f;
font-size:18px; border-top:1px solid #A6300F; margin:0; padding:7px 0px 7px 0; float:none;}

	#content .entry-content {padding-right:5px;;}
	
	/*mobile Child menu */

	.sub-menu-open {display:block;}
	/*.page-id-324 .sub-menu-open {display:none;} */
.mobile-child-menu {display:none;margin:10px 0 0 0; text-align:right;}
.mobile-child-menu ul {margin:10px 5px 10px 0;}
.mobile-child-menu ul li {list-style:none; display:block; /*border-left:1px solid #999;*/ padding:0 0 0 3px;}
.mobile-child-menu ul li:last-child {border:none;}
.mobile-child-menu ul li a:link {color:#333; text-decoration:none; font-size:13px;}
.sub-menu-open {display:block; margin:5px 0;}

.mobile-child-menu .menu-header-mobile .menu-item {display:none;}
.mobile-child-menu .menu-header-mobile .menu-item.current-menu-item,
.mobile-child-menu .menu-header-mobile .menu-item.current-menu-parent {display:block;}
.mobile-child-menu .menu-header-mobile .menu-item.current-menu-item a,
.mobile-child-menu .menu-header-mobile .menu-item.current-menu-parent a {display:none;}
#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-item .sub-menu,
#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-parent .sub-menu 
{display:block !important; position:static; margin:0;}
#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-item .sub-menu li.menu-item,
#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-parent .sub-menu li.menu-item
{display:block !important;}

#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-item .sub-menu li.menu-item a,
#access .mobile-child-menu .menu-header-mobile .mobile-child .menu-item.current-menu-parent .sub-menu li.menu-item a
{display:block !important; background:none; border:none; padding:5px;}
	
	/*Homepage*/
	#hp-content .hp-top {background:none; height:auto;}
#hp-content .hp-top img {display: block;max-width: 250px;margin: auto;}
#hp-content .hp-top .hp-top-content h2 {padding:5px 0; background:none;}
#hp-content .hp-top .hp-top-content h1 {padding: 0 0 20px 0; text-align: center;}
#tabs-adv {display:none;}
#hp-content .hp-sidebar {width:43%; max-width:none; float:left;}
#hp-content .hp-sidebar .patient-stories {float:left;}
#hp-content .hp-sidebar .about {float:left; }

#hp-content .hp-top .hp-top-content {font-size:16px; padding:0 5px; float:none; max-width:100%;  width:97%; position:static;}
.hp-sidebar .about .about-content {font-size:16px;}
.hp-quads {float:right; width:51%; max-width:none;}
.hp-sidebar h3 .all, .hp-quads h3 .all,
.hp-sidebar h3 .all:hover, .hp-quads h3 .all:hover,
.hp-sidebar h3 .all:active, .hp-quads h3 .all:active {float:none; padding:0 4px; color:#a6300f; background:none; text-decoration:underline;}
.hp-sidebar h3 .all:after, .hp-quads h3 .all:after { content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;}
	
	.hp-quads h3 .all:hover {color:#fff;}
	.hp-quads .item {width:93%; height:auto;}
	
	.hp-contact .contact-info .contact-details {float:none; border:none; width:auto;}
	.hp-form {width:auto;}
	.hp-contact {border-bottom:none;}
	.hp-contact form p {float:none;}
	.hp-contact input {width:70%;}
	.hp-contact form p.area {float:none; margin:0;}
	.hp-contact form p.area label {float:right; width:41px;}
	.hp-contact form p.area textarea {width:70%;}
	.hp-contact form input[type="submit"] {float:right; width:150px; margin:10px 48px 10px 0;}
	.wpcf7-form-control-wrap {display:inline !important;}
	
	
		/*inner pages*/
	.featured {height:auto; margin-bottom:8px;}
	.featured img {height:48px;}
	#content {float:none; width:100%; max-width:none;}
	#content .hentry {padding:0 5px;}
	
	#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {line-height:1.1em;}
	.testimonial {background:none; border-top:1px solid #a6300f; border-bottom:2px solid #a6300f; padding:10px 0; height:auto;font-size:15px;}
	#content .entry-title {font-size:21px;}
	#content .inner-form {display:none;} /*remove form from content ara*/
	
	#primary {max-width:none; overflow:inherit;}
	#primary .inner-form {float:right;}
	#primary .patient-stories,#primary .about {float:left; width:47%;}

	
	/*landing*/
	#content .more-content.landing {display:block;}
	#content.landing h1 {padding:0; font-size:21px; line-height:1.1em}
	#content.landing h2 {font-size:18px;}
	#content.landing .entry-content {padding:12px 5px 0 5px;}
	#content.landing .inner-form {display:block;} /*remove form from content ara*/
	#content.landing .inner-form {width:65%;}
	#content.landing .inner-form .wpcf7 {width:auto; text-align:center;}
	#content.landing .inner-form p {margin-right:0px;}
	#content.landing .inner-form form p.area label {width:70px; float:right; margin:0 0 0 6px;}
	#content.landing .inner-form p.area {float:none;}
	#content .inner-form form p.area {margin:0;}
	#content.landing .inner-form input {width:65%;}
	#content.landing .inner-form form p.area textarea {width:65%;}
	#content.landing .more-content {padding:0 0px; float:none; width:100%;}
	#content.landing .more-content p, #content.landing .more-content h2,
	#content.landing .more-content h3 {padding:0 6px;}
	
	#content.landing .video_case, #content.landing .video_wrapper {max-width:auto; width:100%; clear:both;}
	
	#content.landing .inner-form input[type="submit"] {margin-left:30px;}
	
	
	
	
	
	/*Contact Page */
	.contact #content .inner-form {display:block; max-width:none;}
	.contact #primary {display:none;}
	.contact .inner-form .wpcf7 {border:none; float:right; margin:0; padding:0;}
	.contact .inner-form { margin:0;}
	.contact #content .inner-form form p.area {margin:0; float:right;}
	.contact .inner-form input {width:70%;}
	.contact .inner-form form p.area label {float:right; width:70px;}
	.contact .inner-form form p.area textarea {width:70%;}
	.contact .inner-form form input[type="submit"] {margin-right:75px; float:right;}
	
		.footer-menu .section {width:200px;}
		
		
		#primary .inner-form form input[type="submit"] {float:right;}
	
}

@media screen and (max-width: 670px) {
	.hp-quads {width:39%;}
	#content.landing #tabs.ui-tabs .ui-tabs-nav li {width:31%;}
	#content .ui-tabs .ui-tabs-nav li h3 {font-size:14px;}
	#content.landing .inner-form {width:56%;}
}
@media screen and (max-width: 620px) {
	#primary .inner-form {float:none; clear:both; width:100%;}
	#primary .inner-form .wpcf7 {width:100%; margin:0 0 10px 0; padding:0;}
	#primary .inner-form .wpcf7 form {padding:10px; overflow:auto;}
	
	#content.landing .inner-form input[type="submit"] {margin-left:9px;}
}

@media screen and (max-width: 560px) {
		/* Shortcode box navigation */
	#content .box-navigation .boxes {text-align:center;}
	#content .box-navigation .boxes .item {width:42%; margin:10px; display:block; float:right;}
		#content .box-navigation .boxes .item:nth-child(4n+4){margin-left:10px;}
	#content .box-navigation .boxes .item a:link, 
	#content .box-navigation .boxes .item a:visited {font-size:22px;}
	
	.wp-caption {background:none;padding:0;}
	.wp-caption img {margin:5px 0 0 0;}
	#hp-content .hp-sidebar .patient-stories {float:none;}
#hp-content .hp-sidebar .about {float:none; width:100%;}

	#content.landing #primary .inner-form {width:100%;}
	#content.landing #primary .inner-form .wpcf7 {width:auto; text-align:center;}
	#content.landing #primary .inner-form p {margin-right:38px;}
	#content.landing #primary .inner-form p.area {float:right;}
	iframe {max-width:100%;}
	#content.landing .video_case, #content.landing .video_wrapper {float:none; width:100%;}
	#content iframe {padding:0;}
	#content.landing .video_wrapper li {float:none; text-align:center; width:100%;}
	#content.landing .video_wrapper li img {width:auto;}
	#content.landing #tabs.ui-tabs .ui-tabs-nav li {width:100%;}
	#content .ui-tabs .ui-tabs-nav li h3 {font-size:16px;}
	
	.content-footer .inner-form {display:none;}
	#content.landing .book {float:none; width:auto;}
	#content.landing .inner-form {width:100%;}
	
	#content .ui-tabs .ui-tabs-nav li.ui-tabs-active {box-shadow:none;}
	
	#primary, #secondary {float:none;}
	#primary .inner-form {width:100%;}
	#primary .about .about-content {font-size:16px;}
#primary .inner-form {float:none;}
	#primary .patient-stories,#primary .about {float:none; width:100%;}

	/*video page*/
	.video .item {border:none; margin:10px 0 10px 0; width:auto; padding:0; float:none;}

.hp-quads {float:none; width:100%; max-width:none;}
#hp-content .hp-sidebar {float:none; width:100%;}

#content table {overflow-x:auto; display:block;}

	#content.landing .inner-form input[type="submit"] {margin-left:5%;}
}

/*Back to top Arrow */

.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 80px;
  right: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(166, 48, 15, 0.95) url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 55555;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #A6300F;
  opacity: 1;
}
.cd-fade-out:hover {opacity:1;}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {

#primary .side-img img {width:auto;}
#primary .hide-desktop {display:none;}

}

@media only screen and (min-width: 481px) {
	#primary .hide-mobile {display:none;}
}