/*
Theme Name: Itay Sharf
Theme URI: http://wordpress.org/themes/twentyten
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: Dan Stramer
Author URI: http://wordpress.org/
Version: 1.6.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu, flexible-header
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 20px;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	max-width: 331px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	max-width: 900px;
}




/* =Fonts
-------------------------------------------------------------- */


@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-bold.eot');
    src: url('fonts/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alef-bold.woff') format('woff'),
         url('fonts/Alef-bold.ttf') format('truetype'),
         url('fonts/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-regular.eot');
    src: url('fonts/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alef-regular.woff') format('woff'),
         url('fonts/Alef-regular.ttf') format('truetype'),
         url('fonts/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'Alef', Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: 'Alef', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main
 {
	margin: 0 auto;
	max-width: 1000px;
}
#wrapper {
	
	
	
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #fffbeb;
}
body,
input,
textarea {
	color: #505659;
	font-size: 14px;
	line-height: 21px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #2d86b3;
}
a:visited {
	color: #2d86b3;
}
a:active,
a:hover {
	color: #0d445f;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

.home #header {background:url(images/header-bg.png) no-repeat center bottom; height:80px; border:none; padding:22px 0 0 0;;}
#header {
	padding: 22px 0 1px 0;
	height:80px;
	background:url(images/header-inner-bg.png) no-repeat center top;
	/*border-bottom:1px solid #A6300F;*/
	
	}
	

#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}
#masthead {max-width:1000px;
	margin:0 auto;
	position:relative;
}
#header #masthead .eng {position:absolute; left:0px; top:-20px; font-size:12px; background:url(images/is_eng.png) no-repeat left center; padding:0 0 0 20px; text-decoration:none;}

/* This is the custom header image */
#branding img {
	display: block;
	float: left;
}
#branding #site-title img {height: 56px;}
.hp-header-details, .header-details {float:left; margin:11px 0 0 0;}


/* =Menu
-------------------------------------------------------------- */

#access {
	display: block;
	float: left;
	margin: 0 auto;
	max-width: 1000px;
	margin:1px 0 0 0;
	position:relative;
	width: 100%;
}
#access .menu-header,
div.menu {
	font-size: 16px;
	margin-left: 12px;
	
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
	height:33px;
	line-height:33px;
	margin:6px 0 0 0;
	
}
#access .menu-header li:last-child a {border-left:1px solid #aad4f2;}
#access .menu a {
	color: #515759;
	display: block;
	line-height: 18px;
	padding: 0 23px;
	margin:8px 0;
	text-decoration: none;
	border-right:1px solid #aad4f2;
}
#access .skip-link a {border:none;}
#access ul ul {
/*	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	display: none;
	position: absolute;
	top: 38px;
	top:21px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 160px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul.sub-menu a {
	background: #fffbeb;
	line-height: 1em;
	padding: 10px 23px 10px 5px;
	width: 180px;
	height: auto;
	border-bottom:1px solid #aad4f2;
}
#access li:hover > a,
#access ul ul :hover > a {
	
	color: #80250b;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #80250b;
}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_ancestor a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}

.megamenu {display:none; width:1100px; border-bottom:4px solid #70adcc; height:196px; position:absolute; left:50%; transform: translateX(-50%); top:38px; z-index:100; background: #fffbeb; padding:15px; box-shadow:0 5px 7px 1px rgba(0,0,0,0.35);}
#access li.launcher:after{content: "\25bc";color:#70adcc; height:20px; width:20px; display:block; position:absolute; left:-3px; top:1px; font-size:11px;}
#access li.launcher.selected {background-color:#fffbeb; height:33px; border-left:1px solid #aad4f2; border-right:1px solid #aad4f2; box-shadow:5px 0px 5px 0px rgba(0,0,0,0.15);  }
#access li.launcher.selected a { border:none;}
#access li.selected + li a {border:none;}

.megamenu .item {float:right; width:260px; margin:0 0 0 9px; border-left:1px solid #bbdcf1; padding:0 0 0 9px; height: 100%;}
.megamenu .mega-items {height:165px;}
#access .megamenu .item a {border:none;}
.megamenu .item img {border-bottom:1px solid #cce2e4;}
.megamenu .item:last-child {margin-left:0; border:none; padding:0;}
#access .megamenu .item h3 {font-weight:bold; font-size:14px; margin:0;}
#access .megamenu .item h3 a:link,
#access .megamenu .item h3 a:visited {text-decoration:none;}
#access .megamenu .item h3 a:hover,
#access .megamenu .item h3 a:active {text-decoration:none; color:#7ec3e6;}
.megamenu .item .content {font-size:13px; line-height:15px; color:#525759;}
.megamenu .item .submenu-list {font-size:13px; line-height:15px; color:#525759; display: grid; grid-template-columns: 1fr 1fr; gap: 5px 10px; margin: 10px 0 0 0; list-style: none;}
.megamenu .item .submenu-item a {color:#525759; text-decoration: none;}
.megamenu .pagelist {list-style:none; clear:both; border-top:1px solid #bbdcf1; margin:5px 0 0 0; padding:5px 0 0 0; display: flex; justify-content: center; align-items: center;}
.megamenu .pagelist  li {float:right; margin:3px 0 0 21px;}
.megamenu .pagelist  li a:before{
content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}

.megamenu .pagelist  li a:link,
.megamenu .pagelist  li a:visited {color:#2d86b3; text-decoration:none; font-size:16px;}

.megamenu .mega-all-diseases {
    background-color: #2d86b3;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px 0 0;
    padding: 5px 10px;
    text-decoration: none;
	position: absolute;
    left: 10px;
	bottom: 4px;
}

.megamenu .mega-all-diseases:hover { background-color: #70ADCC;}
.megamenu .mega-menu-title {font-weight: bold;}
.megamenu .mega-menu-title a {text-decoration: none;}

/*Homepage
---------------------------------------------------------------*/
body {background:url(images/inner-body-bg.png) left top repeat-x #FFFBEB;}
body.home {background:url(images/hp-body-bg.png) left top repeat-x #FFFBEB;}
#hp-content {max-width:1000px; margin:0 auto; position:relative;}
#hp-content .hp-top {height:263px; background:url(images/hp-top-bg.png) no-repeat -81px top;}
#hp-content .hp-top .hp-top-content {float:left; max-width:490px; color:#80250b; font-size:14px; line-height:21px; position:absolute; top:-3px; left:13px;}
#hp-content .hp-top .hp-top-content h1 {font-size:24px; color:#80250b; line-height:30px; padding:44px 0; background:url(images/sprite.png) no-repeat 459px 29px;}


#hp-content .hp-sidebar {max-width:331px;  float:right;}
.hp-sidebar h3, .hp-quads .hp-title {border-bottom:1px solid #70adcc; border-top:1px solid #70adcc; color:#2d86b3; font-size:18px; margin-bottom:7px; padding:10px 0;}
.hp-quads .hp-title {border-bottom:1px solid #ca8167; border-top:1px solid #ca8167; color:#a6300f; margin-bottom:7px;}

.hp-sidebar h3 .all,
.hp-quads .hp-title .all {float:left; color:#fff; font-size:16px; text-decoration:none; background-color:#70adcc; border-radius:6px; padding:5px 10px; margin:-5px 0 0 0;}
.hp-sidebar h3 .all:hover { background-color:#7ec3e6;}

.hp-quads .hp-title .all {background-color:#a6300f;}
.hp-quads .hp-title .all:hover {background-color:#d93e14;}

.hp-sidebar .about {border-bottom:1px solid #70adcc; padding:0 0 4px 0;}
.hp-sidebar .about p{ margin:0;}
.hp-sidebar .about .about-content {background-color:#e5f4ff; color:#313435; font-size:14px; padding:10px; line-height:22px; margin-top:-5px;}
.hp-sidebar .about-content .more:link { display:block; text-align:left; font-size:15px;}
.hp-sidebar .more:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}

.hp-quads {float:left; max-width:647px;}
.hp-quads .item {float:right; width:297px; height:85px;background-color:#fbf5e0; padding:8px; line-height:16px; margin:0px 5px 10px;}
.hp-quads .item h2 {font-weight:bold;  font-size:18px;}
.hp-quads .item h2 a:link,
.hp-quads .item h2 a:visited {color:#a6300f; text-decoration:none;}
.hp-quads .item h2 a:hover,
.hp-quads .item h2 a:active {color:#d93e14; text-decoration:none;}

.hp-quads .item .sub-title {padding:0 0 0 30px;}
.hp-quads .item .more:link,
.hp-quads .item .more:visited {color:#a6300f; }
.hp-quads .item .more:hover,
.hp-quads .item .more:active {color:#d93e14; }
.hp-quads .item .more:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}

.hp-contact {clear:both; border-top:1px solid #ca8167; border-bottom:1px solid #ca8167; padding:10px 0 7px 0; overflow:auto;}
.hp-contact .contact-info h4 ,
.hp-contact .hp-form h4{float:none; width:90px; color:#a6300f; font-weight:bold; font-size:16px; padding:0px 0px 0 0;}
.hp-contact .contact-info .contact-details {float:right; width:295px; border-right:1px dotted #ca8167; padding:0 10px 22px 10px; line-height:19px; border-left:1px dotted #ca8167;}
.hp-contact .contact-info .contact-details h5,
.hp-contact .hp-form h5{font-size:14px; font-weight:bold;}
.hp-contact .contact-info .contact-details p,
.hp-contact .hp-form p{margin:0;}
.hp-contact .contact-info .contact-details label {margin:0 0 0 27px; color:#a6300f; width:31px; display:inline-block;}



#hp-content .hp-sidebar {max-width:331px;  float:right;}
#primary h3, #primary h5, .hp-quads h3 {border-bottom:1px solid #70adcc; border-top:1px solid #70adcc; color:#2d86b3; font-size:18px; margin-bottom:7px; padding:10px 0;}
.hp-quads h3 {border-bottom:1px solid #ca8167; border-top:1px solid #ca8167; color:#a6300f; margin-bottom:7px;}

#primary h3 .all,
#primary h3 .all {float:left; color:#fff; font-size:16px; text-decoration:none; background-color:#70adcc; border-radius:6px; padding:5px 10px; margin:-5px 0 0 0;}
.hp-sidebar h3 .all:hover { background-color:#7ec3e6;}

/*#primary h3 .all {background-color:#a6300f;}*/
#primary h3 .all:hover {background-color:#d93e14;}

#primary .about {border-bottom:1px solid #70adcc; padding:0 0 4px 0;}
#primary .about p{ margin:0;}
#primary .about .about-content {background-color:#e5f4ff; color:#313435; font-size:14px; padding:10px; line-height:22px; margin-top:-5px;}
#primary .about-content .more:link { display:block; text-align:left; font-size:15px;}
#primary .more:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}
#primary h3 {border-top:none; margin-top:8px;}
#primary h5 {margin-top:0; border-top:none;}

#primary .book img {float:right; margin:0 0 0 10px;}
#primary .book .book-content {padding:5px 37px 5px 23px; line-height:19px;}
#primary .book .book-content .more {display:block;}
#primary .book .book-content .more:link {text-decoration:underline;}


#primary .more-pages {margin:0 0 12px 0 !important; padding:0;}
#primary .more-pages li {list-style:none; border-bottom:1px solid #d5e4e0; padding:3px 0;}
#primary .more-pages li:last-child {border-bottom:1px solid #81b5c9;}

#primary .more-pages li:after {
	 content: "\25C0 ";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 7px;
	float:left;
	color:#a6300f;
	font-size:10px;
}
#primary .more-pages li:hover:after {color:#da3e15;}




#primary .more-pages a:link,
#primary .more-pages a:visited {color:#a6300f; font-size:16px;}
#primary .more-pages a:hover,
#primary .more-pages a:active {color:#da3e15; text-decoration:none;}


#primary .more-pages a:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}

#primary .side-img img {width:322px; border:4px solid #ebdbb5;}

.testimonial {background:url(images/testimonial-bg.png) no-repeat center top; padding:19px 50px 0; width:max-550px; height:88px; margin:20px 0; color:#a6300f; font-size:18px;}
.testimonial strong {font-size:14px; font-weight:normal;}

/* =Sidebar Contact
-------------------------------------------------------------- */
#primary .inner-form {width:331px; margin:0; border:none; background:none; margin-bottom:20px; padding:0;}
#primary .inner-form .form-title {font-weight:bold; font-size:18px; color:#A6300F; margin-bottom:4px; border:none; padding-top:6px;}
#primary .inner-form  .wpcf7 {margin:0; padding:0; border:none;  border-bottom: 1px solid #A6300F;
    border-top: 1px solid #A6300F; background-color:#fff; width:285px; padding:10px 23px}
#primary .inner-form  .wpcf7 p{float:right; margin:0 0 6px 10px;}
#primary .inner-form  .wpcf7 input {width:123px; margin:0 0 0 0px;}
#primary .inner-form  .wpcf7 label {float:none; text-align:right; margin-bottom:4px;}
#primary .inner-form form p.area label { margin-bottom:4px;}

#primary .inner-form form p.area textarea {    height: 45px;max-width: 264px;}
#primary .inner-form form input[type="submit"] {
    clear: both;
    float: left;
    margin-top: 5px;
    width: 85px;
	margin-left:15px;
}

/* =Form Styles
-------------------------------------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
textarea {
	background: #e2e9e4;
	border: 1px solid #fff;
	box-shadow: inset 1px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 2px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 2px 1px rgba(0,0,0,0.1);
	padding: 2px;
	border-radius:5px;
}

div.wpcf7-response-output { clear:both !important;}

input[type="submit"] {border:none; border-radius:6px; color:#fff !important;background-color:#a6300f; font-size:16px; padding:3px; width:auto;}
input[type="submit"]:hover {background-color:#d93e14; cursor:pointer;}
form label {color:#a6300f;}
.hp-form {float:right; width:315px; margin:0 10px 0 0;}
.hp-form .wpcf7 {margin-top:12px;}
.hp-contact input {width:103px;}
.hp-contact form label {width:40px; float:right; display:block; text-align:left; margin:0 0 0 3px;}
.hp-contact form p {margin-bottom:8px; float:right; clear:both;}
.hp-contact form p.area {float:left; clear:none !important; margin-top:-56px; margin-bottom:0;}
.hp-contact form p.area textarea {width:146px; height:58px;}
.hp-contact form p.area label {display:block; width:130px; float:none; text-align:right; margin-bottom:-2px;}
.hp-contact form input[type="submit"] {float:left; margin-top:5px; clear: both;}



.featured {height:130px; margin-bottom:28px;}
.featured img {height:129px;}


/* =inner-form
-------------------------------------------------------------- */
.inner-form {float:left; max-width:655px; width:100%; margin:0 0px 0 0; background-color:#fff; border-top:1px solid #a6300f;
border-bottom:1px solid #a6300f; padding:12px 0;}
.inner-form .wpcf7 {float:left; border-right:1px dotted #a6300f; padding:0 10px 0 0; margin:0 0 0 40px;}

.inner-form input {width:146px;}
.inner-form form label {width:70px; float:right; display:block; text-align:left; margin:0 0 0 6px; font-size:14px;}
#content .inner-form form p {margin-bottom:8px; float:right; clear:both;}
#content .inner-form form p.area {float:left; clear:none !important; margin-top:-71px; margin-bottom:0; margin-right:20px;}
.inner-form form p.area textarea {width:244px; height:59px;}
.inner-form form p.area label {display:block; width:130px; float:none; text-align:right; margin-bottom:12px;}
.inner-form form input[type="submit"] {float:left; margin-top:5px; clear:both; width:85px;}

#content .inner-form .form-title {font-weight:bold; font-size:16px; color:#a6300f; float:right; margin:0 15px 0 10px;}




/* =Tabs
-------------------------------------------------------------- */
/* Overlays */
#tabs {clear:both; max-width:655px; border-bottom:4px solid #d93e14; margin:0 0 20px 0;}
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tabs { position: relative; padding: 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0 !important; padding: .2em 0 0; font-family: 'Alef', Arial, Tahoma, sans-serif; overflow:hidden; clear:both; display:block !important; }
.ui-tabs .ui-tabs-nav {margin:0;}
.ui-tabs .ui-tabs-nav li { list-style: none; float: right; position: relative; top: 0; margin: 1px 0 0 0; border-bottom: 0; padding: 5px 10px 5px 0;  background:#7d807d; width:207px; height:45px; border-left:2px solid #fff; line-height:19px;}
#content .ui-tabs .ui-tabs-nav li h3 {font-size:16px; font-weight:normal; line-height:inherit; margin:0;}
/*#content .ui-tabs .ui-tabs-nav li {background-image:none !important; padding:0 !important; font-size:16px;}*/
.ui-tabs .ui-tabs-nav li:last-child {border-left:none;}
.ui-tabs .ui-tabs-nav li a:link,
.ui-tabs .ui-tabs-nav li a:visited { 
float: right; padding: 0.3em 0.3em 0.3em 2em; text-decoration: none; color:#eee; outline:none; }

.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li a:active { 
float: right; padding: 0.3em 0.3em 0.3em 2em; text-decoration: none; color:#fff; outline:none; }

/* .ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; background: #d93e14;}*/
 #content .ui-tabs .ui-tabs-nav li.ui-tabs-active {background-image:none; background: #d93e14; box-shadow: -7px 0 0 0 rgba(0, 0, 0, 0.18);z-index: 100;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: default; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
 .ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; border-top:4px solid #d93e14; background:#a6300f; color:#fff;}
#content .ui-tabs .ui-tabs-panel h2,
#content .ui-tabs .ui-tabs-panel h3,
#content .ui-tabs .ui-tabs-panel h4 {color:#fff; font-size:18px; margin:0; line-height:21px;}
#tabs h2 {font-size:22px; margin:0 0 5px 0; }

.ui-tabs .ui-tabs-nav li span.arr { height:20px; width:20px; display:block; position:absolute; left:7px; top:18px; color:#fff; font-size:14px;}
.ui-tabs .ui-tabs-nav li span.arr:after{
    content: "\25bc";
	color:#fff;
   }
.ui-tabs .ui-tabs-nav li.ui-tabs-active span.arr:after{
    content: "\25b2";
	color:#fff;
}

 #hp-content .advantages {display:none;}
#tabs-adv {margin:0 0 12px 0; padding:0; list-style:none; max-width:1000px; border-bottom:0px solid #d93e14; margin-top:-188px;}
#hp-content .advantages li {float:right; background-color:#a6300f; width:312px; padding:10px }
#hp-content .advantages li a {color:#fff; text-align:right; text-decoration:none; font-size:16px;}


#tabs-adv .ui-tabs-nav li { list-style: none; float: right; position: relative; top: 0; margin: 0px 0 0 0; border-bottom: 0; padding: 5px 10px 5px 0;  background:#7d807d; width:321px; height:28px; border-left:0px solid #fff; line-height:19px;}



 /* force a height so the tabs don't jump as content height changes */
#tabs-adv .tabs-spacer { float: left; height: 189px; }
#tabs-adv .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
#tabs-adv .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
#tabs-adv .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

#tabs-adv.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding:0; border-top:5px solid #d93e14; background:#a6300f; color:#fff; height:178px; width:664px; border-bottom: 6px solid #e4491f; background-color:#fffbeb;}

#tabs-adv.ui-tabs .ui-tabs-panel p {padding:10px 25px 2px; float:right; width:282px; background-color:#fffbeb; color:#393e40; margin-bottom:0; line-height:19px}
#tabs-adv.ui-tabs .ui-tabs-panel .img-cont {width:330px; float:left;}
#tabs-adv.ui-tabs .ui-tabs-panel img {float:left;}

#tabs-adv.ui-tabs .ui-tabs-panel#tab-3 {float:left; width:668px;}


#tabs-adv.ui-tabs .ui-tabs-panel .more {
    background-color: #A6300F;
    border-radius: 6px;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    margin: -5px 0 0 10px;
    padding: 5px 10px;
    text-decoration: none;
	display:none;
}
#tabs-adv.ui-tabs .ui-tabs-panel .more:hover {background-color: #d93e14;}


#tabs-adv.ui-tabs .ui-tabs-nav { margin: 0 !important; padding:  0; font-family: 'Alef', Arial, Tahoma, sans-serif; overflow:hidden; clear:both; display:block !important; }
#tabs-adv.ui-tabs .ui-tabs-nav li { list-style: none; float: right; position: relative; top: 0; margin: 0px 0 0 0; border-bottom: 0; padding: 5px 10px 5px 0;  background:#a6300f; width:322px; line-height:19px; font-size:16px;}
#tabs-adv.ui-tabs .ui-tabs-nav li h2 {font-size:16px; font-weight:normal;}
#tabs-adv.ui-tabs .ui-tabs-nav li:last-child {background:#80250b; width:326px;}
#tabs-adv.ui-tabs .ui-tabs-nav li:first-child{background:#d93e14; }

#tabs-adv.ui-tabs .ui-tabs-nav li.ui-tabs-active {background-image:none; background: #e4491f; box-shadow: -7px 0 0 0 rgba(0, 0, 0, 0.18);z-index: 100; font-weight:bold;}

#tabs-adv.ui-tabs .ui-tabs-nav li span.arr { height:20px; width:20px; display:block; position:absolute; left:7px; top:9px; color:#fff; font-size:11px;}
#tabs-adv.ui-tabs .ui-tabs-nav li span.arr:after{
    content: "\25b2";
	color:#fff;
   }
#tabs-adv.ui-tabs .ui-tabs-nav li.ui-tabs-active span.arr:after{
    content: "\25bc";
	color:#fff;
}



/*Disease Page
------------------------------------------------------------------*/

.diseases {float:left; max-width:659px;}
.diseases .item {float:right; width:305px; height:95px;background-color:#fbf5e0; padding:4px 8px; line-height:16px; margin:0px 5px 10px; font-size:14px;}
.diseases .item:nth-child(even) {float:left; margin-left:0;}
#content .diseases .item h4 {font-weight:bold;  font-size:18px; margin-bottom:0px;}
.diseases .item h4 a:link,
.diseases .item h4 a:visited {color:#a6300f; text-decoration:none;}
.diseases .item h4 a:hover,
.diseases .item h4 a:active {color:#d93e14; text-decoration:none;}

.diseases .item .sub-title {padding:0 0 0 30px;}
.diseases .item .more:link,
.diseases .item .more:visited {color:#a6300f; }
.diseases .item .more:hover,
.diseases .item .more:active {color:#d93e14; }
.diseases .item .more:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}

/* =Video page
-------------------------------------------------------------- */
.video {clear:both; margin:0 0 10px 0;}
.video .item{float:right; width:307px; padding:0 0 0 0px; border-left:1px solid #e0d9bf; margin:10px 0 10px 10px; padding:0 0 0 23px;}
.video .item a {position:relative;}
.video .item a span.video-btn {position:absolute; display:block; height:54px; width:80px; top:-102px; right:117px; background:url(images/play-btn.png) no-repeat center top;}
.video .item:nth-child(3n) {border-left:none; margin-left:0; padding-left:0;}
.video .item:last-child {border:none;}
#content .video .item h3 {margin-bottom:1px; line-height:15px; font-weight:bold;}
.vid-container {float:right; width:295px;}
.video-desc {float:right; margin:0 10px 0 0; width:295px;}
#content .vid-container iframe {background:none; padding:0; width:312px;}

.video .devider {height:5px; border-bottom:1px solid #e0d9bf; margin:10px 0; clear:both;}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 2px 0 0 0;
	max-width:1000px;
	margin:0 auto;
}
#content {
	margin-bottom: 36px;
	float:left; 
	max-width:658px;
}
#content,
#content input,
#content textarea {
	color: #505659;
	font-size: 16px;
	line-height: 22px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 14px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content h2 {font-size:18px; font-weight:bold; color:#a6300f; margin:10px 0 0 0;}
#content h3 {font-size:16px; font-weight:bold; color:#a6300f; margin:10px 0 0 0;}
#content table {
	border: 2px solid #80250b;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 99%;
}
#content tr th,
#content thead th {
	color: #777;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 6px;
	border: 1px solid #80250b;
}
#content tr td {
	border: 1px solid #80250b;
	padding: 6px 6px;
	text-align:center;
}
#content tr.odd td {
	background: #f2f7fc;
}
#content table.image-table {border:none;}
#content table.image-table td {text-align:center; border:none !important;}
#content table.image-table td img {}

/*Tablepress
-------------------------------------------------*/
.row-1 td {font-weight:bold; font-size:16px;}
#content .tablepress td.column-6, #content .tablepress td.column-7 {background-color:#ebe4c8; border:2px solid #80250b;}
.tablepress td span {font-size:13px; line-height:11px;}
.tablepress-table-description { font-size:12px; }

.hentry {
	margin: 0 0 18px 0;
	position:relative;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
#content .page-title {
	color: #A6300F;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 16px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #a6300f;
	font-size: 22px;
	font-weight: normal;
	line-height: 1.3em;
	margin-bottom: 0;
	border-bottom:1px solid #a6300f;
	padding-bottom:12px;
	padding-left:100px;
	padding-left:0px;
}
#content .fontResizer {list-style:none; float:left; margin: 0; position:absolute; left:0; top:2px;}
#content .fontResizer a {display:block; float:left; width:26px; height:19px; background-color:#a6300f; color:#fff; margin:0 3px; padding:3px; line-height:17px; }

#content .fontResizer a.fontResizer_minus {background-color:#e2e9e4; color:#333;}
#content .fontResizer a.fontResizer_reset {background-color:#666; color:#e2e9e4;}
.entry-title a:link,
.entry-title a:visited {
	color: #2d86b3;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #0d445f;
}

.entry-meta {
	color: #777;
	font-size: 12px;
	display:none;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
	display:none;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}

#content iframe {padding:10px; background-color:#e6dcb8;}
/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}



/* =Landing Page
-------------------------------------------------------------- */
#content.landing {width:100%; max-width:none;}
#content.landing h1 {font-size:26px; padding-right:275px; padding-left:120px;}


#content .box-navigation .boxes {margin:20px 0 20px 0; overflow:auto;}
#content .box-navigation .boxes .item {float:right; border-bottom:2px solid #A6300F; padding:13px 0; margin:0 0 9px 9px; list-style:none; background-color:#F9F4E2; width:24%; text-align:center; font-weight:bold; min-height: 45px;}
#content .box-navigation .boxes .item:nth-child(4n+4) {margin-left:0;}
#content .box-navigation .boxes .item a:link,
#content .box-navigation .boxes .item a:visited {color:#A6300F; text-decoration:none; font-size:24px; display:block;}
#content .box-navigation .boxes .item a:hover,
#content .box-navigation .boxes .item a:active {color:#C9421D; text-decoration:none;}


#content.landing h2 {margin:4px 0; font-size:24px;}
#content.landing .testimonial {margin:20px auto;}
#content.landing #primary h5 {font-weight:bold; 
font-size:18px; border-top:1px solid #A6300F; margin:0; padding:7px 10px 7px 0; float:none;}
#content.landing .side-img {text-align:center; margin:5px 0;}
#content.landing .side-img img {max-width:97%; border:4px solid #e6dbb5;}
#content.landing .entry-content {float:left; max-width:725px;}
#content.landing .video_case span.desc {padding:4px 5px;font-size:14px;}
#content.landing .video_case,
#content.landing .video_wrapper {float:left; max-width:725px;  background-color:#e6dcb8;}
#content.landing .video_wrapper {margin-bottom:20px; margin-top:1px;}
#content.landing .video_wrapper ul {margin:0; padding:0;}
#content.landing .video_wrapper li {float:right; margin:5px 11px 5px 4px; list-style:none; position:relative;}
#content.landing .video_wrapper li img {width:225px;}

#content.landing .video_wrapper li span.video-btn {position:absolute; display:block; height:54px; width:80px; top:30%; right:37%; background:url(images/play-btn.png) no-repeat center top; background-size:contain; opacity:0.85;}

#content.landing .more-content {float:left; max-width:722px; margin:0 0 10px 0;}

#content.landing #tabs {max-width:1000px;}
#content.landing #tabs.ui-tabs .ui-tabs-nav li {width:230px;}
#content.landing #primary {width:253px; float:right;}
#content.landing #primary .inner-form {width:253px;}
#content.landing #primary .inner-form .wpcf7{width:224px; padding:10px 16px;}
#content.landing #primary .inner-form .wpcf7 input {
    margin: 0;
    width: 207px;
}

#content.landing #primary .inner-form p {margin:0 9px 6px 2px;}
#content.landing #primary .inner-form p.area { float:none; margin-top:0;}
#content.landing #primary .inner-form p.area textarea {width:207px; height:85px;}

#content.landing #primary .inner-form form input[type="submit"] {
    clear: both;
    float: none;
    width: 155px;
	margin:10px auto;
	display:block;
	border: 2px solid #FFFFFF;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
	border-radius:9px;
	font-size:20px;
	
	background: #d93e14; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5M2UxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNjMwMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d93e14 0%, #a6300f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d93e14), color-stop(100%,#a6300f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d93e14 0%,#a6300f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93e14', endColorstr='#a6300f',GradientType=0 ); /* IE6-8 */

}

#content.landing #primary .inner-form form input[type="submit"]:hover {
background: #d93e14; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5M2UxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDVjMzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d93e14 0%, #e45c37 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d93e14), color-stop(100%,#e45c37)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d93e14 0%,#e45c37 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93e14', endColorstr='#e45c37',GradientType=0 ); /* IE6-8 */

}

#content .more-content.landing {display:none;}
#content .more-content.landing h5 {font-weight:bold; font-size:18px; border-top:1px solid #A6300F; margin:0; padding:7px 10px 7px 0; float:none;}
.more-content.landing .more-pages {margin:0 0 12px 0 !important; padding:0;}
 .more-content.landing .more-pages li {list-style:none; border-bottom:1px solid #d5e4e0; padding:3px 0;}
.more-content.landing  .more-pages li:last-child {border-bottom:1px solid #81b5c9; border:none;}

 .more-content.landing .more-pages li:after {
	 content: "\25C0 ";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 7px;
	float:left;
	color:#a6300f;
	font-size:10px;
}
.more-content.landing .more-pages li:hover:after {color:#da3e15;}




 .more-content.landing .more-pages a:link,
 .more-content.landing .more-pages a:visited {color:#a6300f; font-size:16px; text-decoration:none;}
 .more-content.landing .more-pages a:hover,
 .more-content.landing .more-pages a:active {color:#da3e15; text-decoration:none;}


 .more-content.landing .more-pages a:link:before{
    content: "\00BB";
    margin-right: 6px;
	text-decoration:none !important;
	display: inline-block;
	padding:0 0 0 4px;
}


/*Google recaptcha badge*/
.grecaptcha-badge {bottom:84px !important;}



#content.landing .content-footer {clear:both;}
#content.landing .content-footer .side-img.landing {display:none;}
#content.landing .book {float:right; width:253px; border-top:1px solid #81b5c9; border-bottom:1px solid #81b5c9;height:171px;}
#content.landing .book h3 {float:right; clear:none; width:135px; font-weight:bold; font-size:14px; color:#3b8eb7; line-height:19px; margin-top:12px;}
#content.landing .book .book-content {float:right; width:135px; font-size:14px; color:#313435; line-height:19px;}
#content.landing .book img {float:right; margin:0 0 0 10px;}
#content.landing .inner-form {max-width:730px;}
#content.landing .inner-form form p.area textarea { width: 284px;}
#content.landing  .inner-form input { width: 174px;}
#content.landing  .inner-form input[type="submit"] { 

 
	border: 2px solid #FFFFFF;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
	border-radius:9px;
	font-size:20px;
	width:95px;
	
	background: #d93e14; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5M2UxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNjMwMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d93e14 0%, #a6300f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d93e14), color-stop(100%,#a6300f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d93e14 0%,#a6300f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d93e14 0%,#a6300f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93e14', endColorstr='#a6300f',GradientType=0 ); /* IE6-8 */


}

#content.landing  .inner-form input[type="submit"]:hover { 
background: #d93e14; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5M2UxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDVjMzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d93e14 0%, #e45c37 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d93e14), color-stop(100%,#e45c37)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d93e14 0%,#e45c37 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d93e14 0%,#e45c37 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93e14', endColorstr='#e45c37',GradientType=0 ); /* IE6-8 */
}

.contact-map {max-width:340px; float:left;}
.contact #content h2,
.contact #content h3 {clear:none; margin-bottom:4px;}
.contact #primary h3 {margin-top:0;}

/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	
	padding: 4px;
	text-align: center;
	max-width:100% !important;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 100%; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type="submit"] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}
.sidebar-title {
	border-top: none;
    margin-top: 8px;
	border-bottom: 1px solid #70adcc;
    color: #2d86b3;
    font-size: 18px;
    margin-bottom: 7px;
    padding: 10px 0;
}


a.btn {float:left; color:#fff; font-size:16px; text-decoration:none; background-color:#70adcc; border-radius:6px; padding:5px 10px; margin:-5px 0 0 0;}
a.btn:hover {background-color:#d93e14; text-decoration: none;}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin:20px 0 0 0;
	background: url(images/footer-bg-long2.png) left top repeat-x;
	height:405px;
}
#colophon {
	padding: 8px 0;
	max-width:1000px;
	margin:0 auto;
	background:url(images/colophon-bg.png) no-repeat center top;
	height:246px;
	
}
#colophon .strip {height:65px; clear:both;}
#colophon ul.features {margin:5px 0 0 0; padding:0; max-width:652px; border-right:1px dotted #a6300f; border-left:1px dotted #a6300f; padding:0 10px; overflow:auto; float:right;}


#colophon ul li {list-style:none;}
#colophon ul.features li {float:right; margin:0 0 0 10px; width:200px;}
#colophon ul.features li img {float:right;}
#colophon ul.features li .footer-slogen {float:right; clear:none; margin:9px 10px 0 0; font-size:16px; color:#a6300f; width:134px; line-height:18px;}

#colophon ul.logos {float:left; margin:0; padding:0;}
#colophon ul.logos li {float:left; margin:0 27px 0 0;}

.footer-menu {margin:20px 0 0 0; height:auto; background:url(images/sprite.png) no-repeat -797px -233px; overflow: auto;}
.footer-menu .section {margin:0; padding:0; float:right; width:220px; background:url(images/sprite.png) no-repeat right -233px; padding:0 20px 0 0; height:auto;}
.footer-menu .section .footer-title {font-size:16px; font-weight:bold; color:#fbf5e0;}
.footer-menu .section .item a:link,
.footer-menu .section .item a:visited {color:#eee; text-decoration:none; font-size:12px;}
.footer-menu .section .item a:hover,
.footer-menu .section .item a:active {color:#fff; text-decoration:underline;}

#footer .contact-info {float:left; width:240px; color:#fff;  background:url(images/sprite.png) no-repeat right -233px; height:140px; padding:0 20px 0 0;}
#footer .contact-info p {margin:0; font-size:12px; line-height:18px;}
#footer .contact-info .footer-title {color:#fff;font-size:16px; font-weight:bold;}
#footer .contact-info a:link,
#footer .contact-info a:visited {color:#eee;}
#footer .contact-info a:hover,
#footer .contact-info a:active {color:#fff;}
#footer .credit {clear:both; margin-top:5px; padding: 0 10px;}
#footer .rights {float:right; margin:5px 0; color:#fff; font-size:12px;}
#footer .design { float:left; margin:5px 15px 5px 0; color:#fff; font-size:12px;}
#footer .design a:link,
#footer .design a:visited,
#footer .design a:hover,
#footer .design a:active {color:#fff; text-decoration:none;}


.disclaimer {border-top:1px solid #487992; border-bottom:1px solid #487992; text-align: center; padding: 10px 0; margin: 10px 0; color:#26292A; font-weight: normal; padding: 0 5px;}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}

/* =Popups
-------------------------------------------------------------- */

#popmake-11490 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11490 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11490 .pum-content {
	text-align:center;
}

#popmake-11490 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11490 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11490  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

/******/

#popmake-11482 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11482 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11482 .pum-content {
	text-align:center;
}

#popmake-11482 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11482 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11482  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

/******/

#popmake-11486 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11486 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11486 .pum-content {
	text-align:center;
}

#popmake-11486 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11486 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11486  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

/******/

#popmake-11478 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11478 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11478 .pum-content {
	text-align:center;
}

#popmake-11478 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11478 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11478  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

/******/

#popmake-11470 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11470 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11470 .pum-content {
	text-align:center;
}

#popmake-11470 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11470 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11470  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

/******/

#popmake-11384 .popupform {
	position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
		right: 0px;
}

#popmake-11384 .popupform input[type="email"] {
    width: 100%;
    color: #1e1e1e;
    background: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 1.5em;
    -moz-border-radius: 0em;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: none;
}

#popmake-11384 .pum-content {
	text-align:center;
}

#popmake-11384 .popupform label {
    color: #212121;
	font-size: 13px;
	margin-right:0px!important;
}

#popmake-11384 .popupform .wpcf7-list-item {
	margin-right:0px!important;
}

#popmake-11384  .popupform input[type="submit"] {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 0px;
    display: inline-block;
    font-size: 20px;
    background: #A62F0F;
	border:none;
	box-shadow:none;
}

@media screen and (max-width: 767px) {
	
#popmake-11490 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11490 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11490 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}
	
/********/
	
#popmake-11482 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11482 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11482 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}
	
/********/
	
#popmake-11486 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11486 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11486 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}	
	
/********/
	
#popmake-11478 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11478 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11478 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}
	
/********/
	
#popmake-11470 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11470 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11470 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}
	
/********/
	
#popmake-11384 {
		width: auto!important;
    height: auto;
    top: 60px!important;
    left: 0px!important;
    opacity: 1;
    display: block;
    margin: 0px 15px;
		
	}
	
#popmake-11384 h2 {
	text-align: center!important;
    line-height: 35px!important;
    font-size: 30px!important;
    padding-bottom: 10px;
	}
	
#popmake-11384 p {
	text-align: center;
    font-size: 15px!important;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
	}
	
}

img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 12px;
	border: 4px solid #eadab5;}

.backgroundtext {
	background-color:#fbf5e0;
	padding:10px;
}

.wpcf7-form.is-cf7-form {background: white; padding: 0 10px; text-align: center; border: 1px solid #a6300f; border-width: 1px 0 1px 0;}
.wpcf7-form.is-cf7-form .is-cf7-header {font-weight: bold; font-size: 20px;}
.wpcf7 .is-single-line {display: inline-flex; gap: 10px; justify-content: center; position: relative; max-width: 100%;}
.wpcf7 .is-single-line ~ .wpcf7-response-output {margin-top: 0;}
.wpcf7 .is-single-line .wpcf7-text {max-width: 150px; direction: inherit;}
.wpcf7 .is-single-line .wpcf7-spinner {position: absolute; left: -60px;}

@media screen and (max-width: 380px) {
	.hp-quads .hp-title {font-size: 17px;}
}
@media screen and (max-width: 360px) {
	.hp-quads .hp-title {font-size: 16px;}
}
@media screen and (max-width: 340px) {
	.hp-quads .hp-title {font-size: 15px;}
}
@media screen and (max-width: 320px) {
	.hp-quads .hp-title {font-size: 14px;}
}

@media screen and (max-width: 1200px) {
	.megamenu {width: 1000px;}
	.megamenu .item {width: 235px;}
}

@media screen and (max-width: 820px) {
	div#responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:focus,
	div#responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:hover,
	div#responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow:hover,
	div#responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		color: rgba(0, 0, 0, 1);
		border-color: transparent;
		background-color: transparent;
		left: 0;
		right: unset;
	}
	
	div#responsive-menu-pro-container #responsive-menu-pro > li > ul > li > .responsive-menu-pro-item-link {
		padding-right: 30px!important;
	}
	
	div#responsive-menu-pro-container #responsive-menu-pro > li > ul.responsive-menu-pro-submenu  > li > ul.responsive-menu-pro-submenu  > li.responsive-menu-pro-item .responsive-menu-pro-item-link {
		font-size: 18px;
	}
	button#responsive-menu-pro-button:not(.is-active) {top: 70px;}

	.wpcf7 .is-single-line {flex-direction: column;}
	.wpcf7 .is-single-line .wpcf7-text {max-width: 100%; margin-bottom: 0;}
	.wpcf7 .is-single-line .wpcf7-spinner {left: calc(50% - 35px); bottom: -4px;}
}